<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Gestão de medicamentos</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </head>
    <body>
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
            <div class="container">
              <a class="navbar-brand" href="/medicamentos">
                <img src="https://cdn-icons-png.flaticon.com/512/3140/3140341.png" alt="..." height="36">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/medicamentos">Seus medicamentos |</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/medicamentos/todos">Medicamentos disponíveis na rede |</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/usuario/networking">Networking |</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/usuario">Perfil |</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/usuario/logoff">Logoff</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </body>
</html>